article
    header
        h2
            a(href="/page/post/#{post.id}") #{post.title}
        .meta
            if post.category
                span.category
                    i.fa.fa-tag
                    | #{post.category[0].name}
                span.created
                    i.fa.fa-clock-o
                    | {{"#{post.createdAt}"|time:"YYYY-MM-DD hh:mm:ss"}}

    section.wrapper.style4
        // Content
        .content
            section
                if post.brief
                    | #{post.brief}
                else
                    | !{post.content}
                if post.brief
                    div
                        a(href="/page/post/#{post.id}") 查看全文